{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "global\css\style.css" %}">
    <title>{{ site_title }}MEYU</title>
</head>
   {% include "global/partials/_header.html" %}
    <body>

        <main class="content">
            {% block content %}{% endblock content %}
            {% include "global/partials/paginator.html" %}
        </main>

    </body>
</html>