<header class="header">
    <h1 class="header-heading">
        <a href="{% url "contacts:index" %}" class="header-link">
            Agenda
        </a>
    </h1>
    <nav class="menu">
        <ul class="menu-list">
            {% if user.is_authenticated %}
            <li class="menu-item">
                <a href="{% url "contacts:create" %}" class="menu-link">
                    New Contact
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "contacts:user_update" %}" class="menu-link">
                    Profile
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "contacts:logout" %}" class="menu-link">
                    Logout
                </a>
            </li>
            {% else %}
                        <li class="menu-item">
                <a href="{% url "contacts:login" %}" class="menu-link">
                    Login
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "contacts:register" %}" class="menu-link">
                    User Create
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="search">
        <form 
        action="{% url "contacts:search" %}"
        method="GET"
        >
            <input 
            type="search"
            class="search-input"
            placeholder="Search"
            id="search"
            name="q"
            value="{{ search_value }}"
            >
        </form>
    </div>


</header>