{% extends "global\base.html" %}

{% block content %}
    <div class="sengle-contact">
        <h1 class="single-contact-name">
            {{ contacts.first_name }}
        </h1>

        <p><b>ID: {{ contacts.id }}</b></p>
        <p><b>E-mail: {{ contacts.email }}</b></p>
        <p><b>Phone: {{ contacts.phone }}</b></p>
        <p><b>Created: {{ contacts.created_it }}</b></p>
        <p><b>Description: {{ contacts.description }}</b></p>
        <p><b>Category: {{ contacts.category.name }}</b></p>

    <div class="contact-links">
        <a class="btn btn-link" href="{% url "contacts:update" contacts.id %}">Update</a>
        <form action="{% url "contacts:delete" contacts.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-link btn-delete" type="submit">Delete</button>
        </form>
    </div>
    </div>
{% endblock content %}