{% extends 'global/base.html' %}

{% block content %}
  <h1>CREATE CONTACT</h1>
  <div class="form-wrapper">

    <h2>Contact</h2>
    
    <form 
      action="{% url "contacts:create" %}"
      method="POST"
      enctype="multipart/form-data"
    >
        {% csrf_token %}

        <div class="form-content">
          {% for fields in form %}
            <div class="form-group">
                <label for="{{ fields.id_for_label }}">{{ fields.label }}</label>
                  {{ fields }}
                  {{ fields.errors }}
                  
                  {% if fields.help_text %}
                    <p class="help-text">{{ fields.help_text }}</p>
                  {% endif %}
            </div>

          {% endfor %}
      </div>

      {% if form.non_field_errors %}
        <div class="form-content">
          <div class="form-group">
            {{ form.non_field_errors }} 
          </div>
        </div>
      {% endif %}

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}