{% extends 'global/base.html' %}

{% block content %}
  <h1>CREATE CONTACT</h1>
  <div class="form-wrapper">

    <h2>Register</h2>
    
    <form 
      action="{{ form_action }}"
      method="POST"
    >
        {% csrf_token %}

        <div class="form-content">
          {% for fields in form %}
            <div class="form-group">
                <label for="{{ fields.id_for_label }}">{{ fields.label }}</label>
                  {{ fields }}
                  {{ fields.errors }}
                  
                  {% if fields.help_text %}
                    <p class="help-text">{{ fields.help_text }}</p>
                  {% endif %}
                </div>

                {% if filed.name == 'picture' and filed.value.url %}
                  <div class="form-group">
                      <img src="{{ field.value.url }}" alt="">
                  </div>
                {% endif %}

          {% endfor %}
      </div>

      {% if form.non_field_errors %}
        <div class="form-content">
          <div class="form-group">
            <div class="message error">
              {{ form.non_field_errors }}
            </div>
          </div>
        </div>
      {% endif %}
      
      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}